#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

button, input {
  margin: 1rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}